.list-first-section {
  position: relative;
  height: 1127px;
  background: #dbdbdb;
  overflow: hidden;
  top: 0;
}

.list-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: 0 auto;
  width: 90%;
  position: relative;
  z-index: 2;
  padding-top: 100px;
  padding-bottom: 100px;
}

.list-content {
  flex: 1;
  max-width: 43%;
  position: relative;
  bottom: 5%;
}

.list-heading {
  font-family: var(--Outfit);
  font-size: 70px;
  font-weight: bold;
  color: #01652f;
  margin-bottom: 20px;
  width: 90%;
}

.list-description {
  font-family: var(--Outfit);
  font-size: 26px;
  color: #555;
  margin-bottom: 20px;
  line-height: 32px;
  width: 97%;
}

.join-btn {
  margin-top: 38px;
  background-color: #0b6632;
  color: #fff;
  padding: 26px 33px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-family: var(--Outfit);
  font-size: 26px;
  display: inline-flex;
  align-items: center;
}

.join-btn:hover {
  background-color: #094d27;
}

.list-image-section {
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 722px;
  height: 754px;
  max-width: 50%;
  right: 5%;
}

.green-background {
  position: absolute;
  top: 0;
  right: 0;
  width: 741px;
  height: 1127px;
  background: url("/images/list-your-practice/firstSection/green_BG.png")
    no-repeat center center;
  background-size: cover;
  z-index: 1;
}

.image-container {
  position: relative;
  z-index: 2;
  width: 722px;
  height: 754px;
  border-radius: 25px;
  border: 5px solid #fff;
  overflow: hidden;
}

.girl-image {
  position: absolute;
  bottom: 20px;
  left: 40px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.4) translateX(50px);
}

.sessions-overview {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 3;
}

.verified-users {
  position: absolute;
  top: 12%;
  left: 78%;
  background: #fff;
  padding: 15px 20px;
  border-radius: 50px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 4;
  display: flex;
  align-items: center;
  gap: 34px;
  width: 273px;
  height: 95px;
}

.user-text {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 10px;
}

.user-count {
  font-family: var(--Outfit);
  font-size: 36px;
  font-weight: bold;
  color: #000000;
}

.user-label {
  font-family: var(--Outfit);
  font-size: 20px;
  color: #000000;
  width: 125px;
}

.user-icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
  justify-content: center;
}

.total-earnings {
  position: absolute;
  bottom: 15%;
  right: 80%;
  background: #fff;
  padding: 15px 20px;
  border-radius: 50px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 4;
  display: flex;
  align-items: center;
  gap: 15px;
}

.earnings-icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
  justify-content: center;
}

.earnings-text {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-right: 50px;
}

.earnings-label {
  font-family: var(--Outfit);
  font-size: 20px;
  color: #000000;
  width: 130px;
}

.earnings-value {
  font-family: var(--Outfit);
  font-size: 36px;
  font-weight: bold;
  color: #000000;
}

@media only screen and (max-width: 1700px) {

  
}

@media only screen and (min-width: 355px) and (max-width: 600px) {
}
