.List-fourth-section {
  padding: 50px;
  background-color: #f8f9f4;
  color: #000;
}

.List-fourth-header-container {
  width: 90%;
  margin: 0 auto;
}

.List-fourth-header {
  text-align: left;
  margin-bottom: 10px;
}

.List-section-heading {
  font-size: 70px;
  font-weight: bold;
  margin-bottom: 20px;
}

.List-section-heading span {
  color: #02632E; 
}

.List-section-description {
  font-size: 26px;
  line-height: 32px;
  width: 94%;
}

.price-note {
  font-size: 18px;
  color: #555;
  margin-top: 40px;
  display: flex;
  justify-content: flex-end;
}

.package-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.package-card {
  flex: 1;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.free-package {
  border: 2px solid #F7EFDF;
  background-color: #FDF9F0;
}

.pro-package {
  border: 2px solid #E7EEC0; 
  background-color: #F6FAE2;
}

.package-price {
  font-size: 24px;
}

.none-price {
  font-size: 24px;
  visibility: hidden;
}

.package-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.package-btn {
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
  margin: 10px 0 20px;
  transition: background-color 0.3s ease;
  border: 2px solid #02632e;
}

.pro-package .package-btn {
  background-color: #fff;
}

.package-btn:hover {
  background-color: #02632e;
  color: #fff;
}

.pro-package .package-btn:hover {
  background-color: #02632e;
}

.features-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.features-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.features-list li {
  font-size: 0.9rem;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 24px; 
  opacity: .9;
}

.features-list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 2px;
  width: 16px;
  height: 16px;
  background-image: url("/images/list-your-practice/fourthSection/CheckMark.svg"); /* Update path */
  background-size: contain;
  background-repeat: no-repeat;
}


@media only screen and (max-width: 1600px) {

  .List-fourth-section {
    padding: 60px 100px;
  }

  .List-fourth-header-container {
    width: 98%;
  }

  .List-section-heading {
    font-size: 54px;
    margin-bottom: 10px;
  }

  .List-section-description {
    font-size: 20px;
    line-height: 30px;
  }

  .price-note {
    font-size: 14px;
    margin-top: 20px;
  }

  .package-title {
    font-size: 36px;
    margin-bottom: 10px;
  }

  .package-btn {
    font-size: 18px;
    color: #000;
    padding: 14px;
    margin: 10px 0 30px;
  }

  .features-title {
    font-size: 24px;
    margin-bottom: 16px;
  }

  .features-list li {
    font-size: 14px;
    margin-bottom: 20px;
    display: inline-block;
  }
}
