.second-section {
  display: flex;
  align-items: center;
  padding: 50px;
  padding-left: 100px;
  background-color: #01652f;
  color: white;
  z-index: 10;
  position: relative;
}

.content {
  max-width: 60%;
}

.secondSection-heading {
  font-family: var(--Outfit);
  font-size: 70px;
  margin-bottom: 30px;
  /* margin-top: 30px; */
}

.second-section-description {
  font-family: var(--Outfit);
  font-size: 26px;
  line-height: 1.6;
  margin-bottom: 70px;
  width: 90%;
  font-weight: lighter;
  opacity: 0.8;
}

.features {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 85%;
}

.feature {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.feature .icon {
  font-size: 2rem;
  color: #0b6632; /* Icon color */
}

.feature-heading {
  font-family: var(--Outfit);
  font-size: 34px;
  /* font-weight: bold; */
  margin-bottom: 10px;
}

.feature-description {
  font-family: var(--Outfit);
  font-size: 24px;
  margin: 0;
  opacity: 0.9;
}

.Expand-icon,
.Simplify-icon,
.Difference-icon {
  margin-top: 5px;
}

.image-section {
  display: flex;
  justify-content: center;
}

.mobile-image {
  position: relative;
  width: 100%;
  height: auto;
  left: 2%;
}

@media only screen and (max-width: 1700px) {
  .second-section {
    padding: 50px;
    padding-left: 50px;
  }

  .secondSection-heading {
    font-size: 50px;
  }

  .second-section-description {
    font-size: 20px;
  }

  .features {
    gap: 30px;
  }

  .feature-heading {
    font-size: 28px;
  }

  .feature-description {
    font-size: 18px;
  }

  .Expand-icon,
  .Simplify-icon,
  .Difference-icon {
    scale: 0.8;
    margin-top: 0;
  }

  .mobile-image {
    width: 100%;
    height: auto;
    left: 0;
    scale: 1.2;
  }
}
