.third-section {
    padding: 50px;
    background-color: #f8f9f4;
    color: #000; 
  }
  
  .third_header {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .section-heading {
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 100px;
  }
  
  .section-heading span {
    color: #28a745; 
  }
  
  .section-description {
    font-size: 26px;
    line-height: 1.6;
    width: 930px;
    margin: 0 auto;
    margin-bottom: 100px;
  }
  
  .third_container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    background-color:#eef5cb;
    border-radius: 20px;
    height: 937px;
  }
  
  .guide {
    flex: 1;
    background-color: #eef5cb;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    padding-left: 50px;
  }
  
  .guide-title {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 50px;
  }
  
  .guide-title span {
    color: #F36800;
  }

  .guide-steps {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .guide-steps li {
    font-size: 14px;
    margin-bottom: 0;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .guide-steps li ul {
    list-style-type: disc;
    margin-left: 35px;
    margin-top: 15px;
    margin-bottom: 25px;
    color: #555;
  }

  .dropdown-title {
    padding: 15px 15px;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .dropdown-title:hover {
    background-color: #02632E; 
    color: #fff;
  }
  
  ul {
    transition: max-height 0.3s ease;
  }
  
  ul li {
    margin-bottom: 0;
    padding: 0;
  }
  
  .dropdown-steps li {
    margin-bottom: 5px; 
  }  
  
  .get-started-btn {
    background-color: #F36800;
    color: #fff;
    border: none;
    border-radius: 50px;
    padding: 15px 30px;
    font-size: 21px;
    margin-top: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .get-started-btn:hover {
    background-color: #e67e00;
  }
  
  .image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  
  .signin-image {
    width: 100%;
    height: 500px;
    background-image: url('/images/list-your-practice/thirdSection/signin_card.png'); /* Replace with the correct path to the sign-in card image */
    background-size: 90%; 
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    scale: 1.3;
  }
  