.header {
  position: fixed;
  top: 30px;
  width: 100%;
  z-index: 100;
}

.container {
  border-radius: 50px; 
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  background: rgba(225, 225, 225, 0.8);
  backdrop-filter: blur(20px);
}

.header__left {
  display: flex;
  align-items: center;
}

.header__logo img {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.vertical-line {
  width: 1px;
  height: 40px;
  background-color: #727272;
  margin: 0 30px;
}

.header__nav {
  display: flex;
  gap: 20px;
}

.nav-link {
  color: #000;
  text-decoration: none;
  font-family: var(--Outfit);
  font-size: 21px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #5d5d5d;
}

.header__cta .find-therapist-button {
  background-color: #02652F;
  color: white;
  text-decoration: none;
  padding: 15px 25px;
  border-radius: 50px;
  font-family: var(--Outfit);
  font-size: 21px;
  transition: background-color 0.3s ease;
}

.find-therapist-button:hover {
  background-color: #00582d;
}


@media only screen and (max-width: 1700px) {
  .container {
    margin: 0 auto;
    width: 80%;
    height: 60px;
    display: flex;
    align-items: center;
  }

  .header {
    margin: 0 auto;
    width: 100%;
  }

  .nav-link {
    font-size: 18px;
  }

  .header__cta .find-therapist-button {
    font-size: 18px;
    padding: 12px 25px;
  }

  .header__nav {
    display: flex;
    gap: 26px;
  }

  .header__logo img {
    scale: .9;
    margin-left: -10px;
  }
}

@media only screen and (min-width: 355px) and (max-width: 600px) {
  .header {
    position: relative;
    top: 30px;
    width: 100%;
    z-index: 100;
  }

  .container {
    width: 95%;
  }

  .vertical-line {
    display: none;
  }

  .header__nav {
    display: none;
  }

  .header__cta .find-therapist-button {
    display: none;
  }
}
