.fifth-section {
  background-color: #fdfcf7;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 0;
  padding-bottom: 100px;
}

.content-block {
  margin: 0 auto;
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #C4DC3F26;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  gap: 20px;
  height: 702px;
  width: 1378px;
}

.content-block.reverse {
  flex-direction: unset;
}

.content-text {
  flex: 1;
  padding: 20px;
  padding-top: 0;
}

.content-text h3 {
  font-family: var(--Outfit);
  font-size: 20px;
  color: #02652F;
  margin-bottom: 10px;
}

.content-text h2 {
  font-family: var(--Outfit);
  font-size: 44px;
  font-weight: 700;
  line-height: 47px;
  text-align: left;
  color: #333;
  margin-bottom: 15px;
  margin-top: 20px;
}

.content-text h2 .highlight {
  color: #02652F;
}

.content-text p {
  font-family: var(--Outfit);
  font-size: 20px;
  color: #555;
  margin-bottom: 20px;
  margin-top: 30px;
}

.fifth_cta-button {
  font-family: var(--Outfit);
  margin-top: 60px;
  background-color: #02652F;
  color: white;
  border: none;
  border-radius: 45px;
  padding: 15px 25px;
  font-size: 21px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.fifth_cta-button:hover {
  background-color: #00582d;
}

.content-image_Boy {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.content-image_Boy img {
  height: 660px;
  width: 595px;
  border-radius: 12px;
  object-fit: cover;
}

.content-image_Girl {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .content-image_Girl img {
    height: 660px;
    width: 595px;
    border-radius: 12px;
    object-fit: cover;
  }
