.first-section {
  position: relative;
  background: url("/images/home/firstSection/BG_image.png") no-repeat center
    center;
  background-size: cover;
  height: 924px;
  margin-top: -70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-family: Arial, sans-serif;
  padding: 20px;
}

.first-section__content {
  position: relative;
  z-index: 5;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.heading {
  font-family: var(--Outfit);
  font-size: 90px;
  font-weight: bold;
}

.subheading {
  font-family: var(--Outfit);
  font-size: 34px;
  margin-bottom: 3rem;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 72px;
  gap: 5px;
  margin-bottom: 40px;
}

.button-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 355px) and (max-width: 600px) {
  .first-section {
    height: 803px;
  }

  .search-bar {
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 400px;
    margin-top: 6rem;
    margin-bottom: 6rem;
  }

  .heading {
    font-size: 38px;
    margin-top: 5rem;
  }

  .subheading {
    font-size: 18px;
  }

  .custom-dropdown {
    width: 100%;
    position: relative;
  }

  .input-field {
    height: 56px;
    border-radius: 10px;
    border: 1.5px solid #01652f;
    padding: 12px 16px;
    font-family: var(--Outfit);
    font-size: 18px;
    color: #333;
    appearance: none;
    width: 100%;
    background-color: #fff;
  }

  .dropdown-arrow {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #000000;
    z-index: 2;
  }

  .search-button-desktop {
    display: inline-flex;
    padding: 15px 25px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
    border-radius: 35px;
    border: 1.5px solid #fcf5e8;
    background: #01652f;
    color: #fff;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
  }

  .search-button-desktop:hover {
    background-color: #014f24;
  }
}

/* Desktop-Specific Styles */
@media only screen and (min-width: 601px) {
  .custom-dropdown {
    position: relative;
    height: 72px;
    width: 300px;
    border: 2px solid #01652f;
    border-radius: 6px;
  }

  .input-field {
    width: 100%;
    height: 100%;
    padding: 12px 16px;
    border: none;
    font-size: 24px;
    color: #333;
    appearance: none;
    background-color: #fff;
    outline: none;
    font-family: outfit;
  }

  .dropdown-arrow {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #000000;
    z-index: 2;
  }

  .button-container {
    margin-top: 30px;
  }

  .search-button-desktop {
    color: white;
    border-radius: 40px;
    border: 2px solid #fcf5e8;
    background: #01652f;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 24px;
    display: inline-flex;
    padding: 20px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 500;
  }

  .search-button-desktop:hover {
    background-color: #005d30;
  }
}
