/* Fourth Section Container */
.fourth-section {
  background-color: #fdf9f3;
  padding: 40px 20px;
  text-align: center;
  font-family: var(--Outfit);
}

/* Heading */
.fourth-section__heading {
  font-size: 50px;
  color: #02652F;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

/* Practitioner Grid */
.licensed_practitioner-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  justify-content: center;
  width: 800px;
  margin: 0 auto;
}

.licensed_practitioner-card {
  background-color: white;
  border: 1px solid #01652F4D;
  border-radius: 25px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; 
  height: 402px;
  width: 314px;
  text-align: center;
  overflow: hidden;
  transition: transform 0.3s ease;
  padding: 20px;
}

.licensed_practitioner-card:hover {
  border: 1px solid #02652F;
}

.licensed_practitioner-details {
  order: -1;
  padding: 15px;
  margin-bottom: 15px;
}

.licensed_practitioner-name {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 5px;
  color: #333;
}

.licensed_practitioner-specialty {
  font-family: var(--Outfit);
  font-size: 14px;
  color: #666;
  margin: 0;
}

.licensed_practitioner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.licensed_practitioner-details {
  padding: 15px;
  text-align: left;
  padding-left: 0;
  padding-top: 0;
}

/* Button */
.search-therapists-button {
  background-color: #02652F;
  color: white;
  border: none;
  border-radius: 45px;
  padding: 20px 25px;
  font-family: var(--Outfit);
  font-size: 21px;
  cursor: pointer;
  margin-top: 5rem;
  margin-bottom: 5rem;
  transition: background-color 0.3s ease;
}

.search-therapists-button:hover {
  background-color: #00582d;
}
