.second-section {
  position: relative;
  padding: 40px 20px;
  text-align: center;
  font-family: var(--Outfit);
  border-radius: 30px 30px 0 0;
  overflow: hidden;
}

.second-section__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/images/secondSection/RectangleBG.png") no-repeat center
    center;
  background-size: cover;
  opacity: 0.1;
  z-index: 1;
}

.second-section__content {
  position: relative;
  z-index: 2;
}

.second-section__heading {
  font-family: var(--Outfit);
  font-size: 50px;
  color: #333;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.highlight {
  color: #02652F;
}

.practitioner-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  justify-items: center;
  margin-bottom: 3rem;
  max-width: 800px;
  margin: 0 auto;
}

.practitioner-item {
  position: relative;
  width: 100%;
  max-width: 290px;
}

.practitioner-overlay {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  border: 2px solid #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.practitioner-image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 12px;
  transition: transform 0.3s ease;
}

.practitioner-overlay::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(to top, black, transparent);
  pointer-events: none;
  border-radius: 12px;
}

.practitioner-item:hover .practitioner-image {
  transform: scale(1.02);
}

.practitioner-title-overlay {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-family: var(--Outfit);
  font-size: 1rem;
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
  z-index: 3;
}

.partners-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
}

.partners {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
  background-color: transparent;
  border-radius: 12px;
  padding: 20px;
  width: 1028px;
  margin-top: 40px;
}

.partners p {
  font-family: var(--Outfit);
  font-size: 34px;
  font-weight: 500;
  color: #333;
  margin: 0;
}

.partners-logo {
  width: auto;
  height: 100px;
}

.provider-section {
  background-color: #01652f;
  border-radius: 12px;
  padding: 25px;
  margin-top: 30px;
  text-align: center;
  width: 90%;
  height: 347px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1397px;
  margin-left: auto;
  margin-right: auto;
}

.provider-text {
  width: 90%;
  color: white;
  font-size: 34px;
  font-weight: 500;
  margin-bottom: 25px;
  font-family: var(--Outfit);
}

.provider-button {
  background-color: white;
  color: #01652f;
  border: none;
  padding: 25px 35px;
  font-size: 24px;
  font-weight: bold;
  border-radius: 45px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.desktop-text {
  display: inline;
}

/* Hide full text and show short text on mobile */
.mobile-text {
  display: none;
}

.provider-button:hover {
  background-color: #fcf5e8;
}

@media only screen and (min-width: 355px) and (max-width: 600px) {
  .second-section__heading {
    font-size: 24px;
    margin-top: 1rem;
  }

  .practitioner-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .partners-container {
    padding: 0;
    margin-top: 20px;
  }

  .partners {
    flex-direction: column;
    gap: 0;
    margin-top: 20px;
    padding: 0;
    width: 100%;
    box-shadow: none;
  }

  .partners p {
    font-size: 21px;
    font-weight: 500;
  }

  .partners-logo {
    height: 60px;
  }

  .desktop-text {
    display: none;
  }
  .mobile-text {
    display: inline;
  }

  .provider-section {
    padding: 15px;
    width: 100%;
    margin-top: 50px;
}

.provider-text {
    font-size: 24px;
    width: 95%;
}

.provider-button {
    padding: 12px 25px;
    font-size: 18px;
}
}
