.third-Section {
  background-color: #f4f8f6; /* Light background */
  padding: 40px 20px;
  text-align: center;
  font-family: var(--Outfit);
  position: relative;
}

/* Grid Container */
.grid-container {
  width: 1200px;
  justify-content: center;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* 5 columns layout */
  gap: 15px;
  justify-items: center;
  margin-bottom: 40px;
}

.grid-item {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 220px;
  max-width: 220px;
  height: 140px;
}

.logo-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.insurance-info {
  background-color: rgba(1, 101, 47, 0.80);
  color: white;
  padding: 20px 20px;
  border-radius: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 624px;
  height: 218px;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px); 
}

.insurance-main-text {
  font-size: 26px; 
  font-weight: bold; 
  letter-spacing: 2px;
}

.insurance-sub-text {
  font-size: 20px; 
  font-weight: normal;
  color: #ffffff; 
}

@media only screen and (max-width: 1600px) {
  .grid-container {
    width: 85%;
    gap: 10px;
    margin-bottom: 40px;
  }
  .grid-item {
    padding: 25px;
    width: 175px;
    height: 125px;
  }
  .insurance-info {
    width: 500px;
    height: 170px;
    max-width: 600px;
    border-radius: 20px;
  }
}
