*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

:root {
  --GL-LT: "GalanoGrotesqueLight", sans-serif;
  --GL-RG: "GalanoGrotesqueRegular", sans-serif;
  --GL-MD: "GalanoGrotesqueMedium", sans-serif;
  --Kiona-RG: "Kiona-Regular", sans-serif;
  --color-dark-rgb: 34, 34, 34; /* Example dark color in RGB format */
  --color-dark: #222222; /* Dark color in HEX format */
  --copy-size-m: 1em; /* Font size for medium-sized copy */
  --btn-shadow-distance: 0.1em; /* Distance for button shadow effect */
  --animation-primary: 0.3s ease; /* Primary animation timing */
  --animation-nav: 0.2s ease-in-out; /* Animation for navigation elements */
}
html,
* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}
body {
  font-family: var(--GL-RG);
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  html {
    -webkit-text-size-adjust: none;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 500px #14141400 inset !important;
    -webkit-text-fill-color: #000000;
    border: 1.5px solid #ffffff00 !important;
    border-bottom: 1px solid #000 !important;
    transition: background-color 5000s ease-in-out 0s;
  }
  imput {
    box-shadow: none !important;
  }
  * {
    -webkit-tap-highlight-color: transparent;
  }

  * {
    -webkit-tap-highlight-color: transparent;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
}
.container {
  max-width: 1794px;
  width: 95%;
  margin: auto;
  overflow: hidden;
  -webkit-text-size-adjust: 100% !important;
}
.slick-slider {
  width: 100% !important;
  height: 100% !important;
}
.slick-active {
  margin: 0 !important;
}
.slick-dots li button:before {
  font-size: 10px;
  line-height: 31px;
  color: #864116 !important;
}
.slick-dots li {
  margin: 0 !important;
}
p {
  font-family: var(--GL-LT);
}

strong {
  font-family: var(--GL-MD);
}

button {
  font-family: var(--Kiona-RG);
}
